.md-tag#avalonia {
    background: #8840a8;
    color: #fff;
}

.md-tag#xaml {
    background: #43a047;
    color: #fff;
}

.md-tag#style {
    background: #8250DF;
    color: #fff;
}

.md-tag#event {
    background: #ffb300;
    color: #fff;
}

.md-tag#web {
    background: #8eb200;
    color: #fff;
}

.md-tag#binding {
    background-color: chocolate;
    color:#fff;
}

.md-tag#data {
    background-color: orange;
    color:#fff;
}

.md-tag#data-validation {
    background-color:tomato;
    color:#fff;
}

.md-tag#linux {
    background: #16a085;
    color: #fff;
}

.md-tag#windows {
    background: #0078D7;
    color: #fff;
}
